* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: white;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    overflow-x: hidden;
}

body {
    padding-top: 1em;
    padding-bottom: 1em;
    gap: 0.5em;
}

.settings-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: flex-start;
    justify-content: center;
    max-width: 90vw;
}

.general-column {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons :is(button, select) {
    width: max-content;
}

.settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    max-width: calc(100vw - 4ch);
}

.settings math-field:not([readonly]) {
    margin: 0.25ch;
}

p {
    width: max-content;
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
    border: 2px solid black;
}

.text-input {
    display: inline-block;
}

input[type=number] {
    width: 8ch;
}

.main-function-definition, .user-function-definition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;
}

.user-constant-definition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.user-constant-definition, .user-function-definition {
    border: 1px dotted black;
    padding: 0.5em;
    max-width: 100%;
}

.header-buttons {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.user-function-movement {
    display: flex;
    flex-direction: row;
}

.invisible-button {
    pointer-events: none;
    opacity: 0;
}

.user-function-definition .definition-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    overflow-x: scroll;
}

math-field[readonly] {
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.no-focus {
    tabindex: -1;
}

math-field::part(container) {
    padding: 0;
    margin: 0;
}

math-field::part(content) {
    padding: 0.25ch;
    margin: 0;
}

math-field[readonly]::part(container) {
    padding: 0;
    margin: 0;
}

math-field[readonly]::part(content) {
    padding: 0;
    margin: 0;
}

math-field::part(menu-toggle) {
    display: none;
    pointer-events: none;
}

math-field::part(virtual-keyboard-toggle) {
    display: none;
    pointer-events: none;
}

#user-function-list, #user-constant-list{
    display: flex;
    gap: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 90vw;
}

